body
{
	margin-top: 20px;
}

.full-width
{
	width: 100%;
}

.font-bold
{
	font-weight: bold;
}

.in-profit
{
	color: green;
}

.in-loss
{
	color: red;
}

#stat-table th, #stat-table td
{
	width: 33.3%;
}

#data-table th, #data-table td
{
	width: 16.67%;
}

#chart-pl
{
	height: 300px;
	display: none;
}

#loading-spinner
{
	text-align: center;
}

.row
{
	margin-left: 10px;
	margin-right: 10px;
}